[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kaddressbook_config_userfeedback
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook
X-KDE-Weight=250

Name=User Feedback
Name[az]=İstifadəçi Rəyi
Name[ca]=Comentaris de l'usuari
Name[ca@valencia]=Comentaris de l'usuari
Name[cs]=Zpětná vazba uživatele
Name[da]=Brugerfeedback
Name[de]=Benutzer-Feedback
Name[el]=Σχολιασμός χρήστη
Name[en_GB]=User Feedback
Name[es]=Comentarios del usuario
Name[et]=Kasutaja tagasiside
Name[eu]=Erabiltzailearen erreakzioa
Name[fi]=Käyttäjäpalaute
Name[fr]=Retours des utilisateurs
Name[hu]=Felhasználói visszajelzés
Name[ia]=Responsa del usator
Name[it]=Segnalazioni degli utenti
Name[ko]=사용자 피드백
Name[nl]=Terugkoppeling van gebruiker
Name[nn]=Tilbakemeldingar
Name[pl]=Informacja zwrotna
Name[pt]=Reacções do Utilizador
Name[pt_BR]=Comentários do usuário
Name[ru]=Обратная связь
Name[sl]=Uporabnikov odziv
Name[sv]=Användaråterkoppling
Name[uk]=Відгуки користувача
Name[x-test]=xxUser Feedbackxx
Name[zh_CN]=用户反馈
X-KDE-Keywords=kaddressbook, configure, settings, userfeedback
X-KDE-Keywords[az]=kaddressbook, configure, settings, plugins, ünvan_kitabçası,ayarlar, tənzimləmə, qoşmalar
X-KDE-Keywords[ca]=kaddressbook, configura, arranjament, comentaris de l'usuari
X-KDE-Keywords[ca@valencia]=kaddressbook, configura, arranjament, comentaris de l'usuari
X-KDE-Keywords[cs]=kaddressbook, nastavit, nastavení, zpětnávazba
X-KDE-Keywords[da]=kaddressbook, indstil, indstillinger, brugerfeedback
X-KDE-Keywords[de]=KAddressbook,Konfigurieren,Einstellungen,feedback
X-KDE-Keywords[el]=kaddressbook, διαμόρφωση, ρυθμίσεις, σχολιασμός
X-KDE-Keywords[en_GB]=kaddressbook, configure, settings, userfeedback
X-KDE-Keywords[es]=kaddressbook, configurar, preferencias, comentarios del usuario
X-KDE-Keywords[et]=kde aadressiraamat, seadistamine, seadistused, kasutaja tagasiside
X-KDE-Keywords[eu]=kaddressbook, konfiguratzea, ezarpenak, erabiltzaileen erreakzioak
X-KDE-Keywords[fi]=kaddressbook, asetukset, käyttäjäpalaute
X-KDE-Keywords[fr]=KAddressBook, configuration, paramètres, retours des utilisateurs
X-KDE-Keywords[hu]=kaddressbook, beállítás, beállítások, felhasználói visszajelzés
X-KDE-Keywords[ia]=kaddressbook, configure, settings, userfeedback
X-KDE-Keywords[it]=kaddressbook, configurazione, impostazioni, segnalazioniutenti
X-KDE-Keywords[ko]=kaddressbook, configure, settings, userfeedback, 설정, 플러그인, 주소록, 사용자 피드백
X-KDE-Keywords[nl]=kaddressbook, instellen, instellingen, terugkoppeling van gebruiker
X-KDE-Keywords[nn]=kadressbook, kjelder, oppsett, tilbakemeldingar
X-KDE-Keywords[pl]=kaddressbook, konfiguruj, ustawienia, wtyczki, informacja zwrotna
X-KDE-Keywords[pt]=kaddressbook, configurar, configuração, reacções, utilizadores
X-KDE-Keywords[pt_BR]=akregator, configurar, configurações, comentários do usuário
X-KDE-Keywords[ru]=kaddressbook, configure, settings, plugins, userfeedback, адресная книга, настройка, параметры, настроить, модули, обратная связь
X-KDE-Keywords[sl]=kaddressbook,nastavi,nastavitve,vstavki,uporabnikov odziv
X-KDE-Keywords[sv]=adressbok, anpassa, inställningar, användaråterkoppling
X-KDE-Keywords[uk]=kaddressbook,налаштувати,адресна,книга,параметри,додатки,configure,settings,відгук,користувач
X-KDE-Keywords[x-test]=xxkaddressbookxx,xx configurexx,xx settingsxx,xx userfeedbackxx
X-KDE-Keywords[zh_CN]=kaddressbook, configure, settings, userfeedback, 配置, 地址簿, 设置, 用户反馈
