[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kaddressbook_config_userfeedback
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kaddressbook_config_userfeedback
X-KDE-CfgDlgHierarchy=KAddressBook
X-KDE-Weight=250

Name=User FeedBack
X-KDE-Keywords=kaddressbook, configure, settings, userfeedback
