[Desktop Entry]
Name=KAddressbook import file
Name[ar]=استورد ملفّ «دفتر عناوينك»
Name[az]=KAddressbook idxal faylı
Name[bs]=KAddressbook uvozna datoteka
Name[ca]=Importa un fitxer de KAddressbook
Name[ca@valencia]=Importa un fitxer de KAddressbook
Name[cs]=Importovat soubor KAddressbook
Name[da]=KAddressbook importfil
Name[de]=Adressbuch-Importdatei
Name[el]=Αρχείο εισαγωγής του KAddressBook
Name[en_GB]=KAddressbook import file
Name[es]=Importar archivo de KAddressbook
Name[et]=KDE aadressiraamatu impordifail
Name[eu]=KAddressbook fitxategia inportatzea
Name[fi]=Tiedoston tuonti KAddressbookiin
Name[fr]=Importation d'un fichier KAddressbook
Name[gl]=Importar un ficheiro do KAddressbook
Name[hu]=KAddressbook importfájl
Name[ia]=File de importar de KAddressbook
Name[it]=File di importazione di KAddressbook
Name[ko]=KAddressbook 가져오기 파일
Name[lt]=KAddressbook importuoti failą
Name[nb]=Importfil for KAddressbook
Name[nds]=KAddressbook-Dateiimport
Name[nl]=Importbestand van KAddressbook
Name[pl]=Plik importu Książki adresowej
Name[pt]=Importação de ficheiros do KAddressbook
Name[pt_BR]=Arquivo de importação do KAddressbook
Name[ru]=Импорт файла в адресную книгу
Name[sk]=Importný súbor KAddressbook
Name[sl]=Uvoz datoteke v KAddressbook
Name[sr]=К‑адресаров увоз фајла
Name[sr@ijekavian]=К‑адресаров увоз фајла
Name[sr@ijekavianlatin]=K‑adresarov uvoz fajla
Name[sr@latin]=K‑adresarov uvoz fajla
Name[sv]=Importfil för adressbok
Name[tr]=K Adres Defteri içe aktarma dosyası
Name[uk]=Імпортування файлів KAddressBook
Name[x-test]=xxKAddressbook import filexx
Name[zh_CN]=KAddressBook 导入文件
Name[zh_TW]=KAddressBook 匯入檔
Comment=KAddressBook running in file import mode
Comment[ar]=«دفتر عناوينك» يعمل بوضع استيراد الملفّات
Comment[az]=KAddressBook fayl idxalı rejimində işləyir
Comment[ca]=El KAddressBook està executant-se en mode importació de fitxer
Comment[ca@valencia]=El KAddressBook està executant-se en mode importació de fitxer
Comment[cs]=KAddressBook běží v režimu pro import souborů
Comment[da]=KAddressBook kører i filimporttilstand
Comment[de]=KAddressBook läuft im Modus Dateiimport
Comment[el]=Το KAddressBook εκτελείται σε λειτουργία εισαγωγής αρχείου
Comment[en_GB]=KAddressBook running in file import mode
Comment[es]=KAddressbook ejecutándose en modo de importación de archivos
Comment[et]=KDE aadressiraamat faili importimise režiimis
Comment[eu]=KAddressBook fitxategiak inportatzeko moduan exekutatzea
Comment[fi]=KAddressBook on käynnissä tiedostontuontitilassa
Comment[fr]=KAddressBook fonctionnant en mode import de fichier
Comment[gl]=KAddressBook executándose no modo de importación de ficheiros.
Comment[hu]=A KAddressBook fájlimportáló módban fut
Comment[ia]=KAddressbook executante in modo de importation de file
Comment[it]=KAddressBook in esecuzione in modalità importazione di file
Comment[ko]=파일 가져오기 모드로 KAddressBook 실행 중
Comment[lt]=KAddressBook veikianti failų importavimo veiksenoje
Comment[nl]=KAddressbook actief in modus bestand importeren
Comment[pl]=Książka adresowa działająca w trybie importu pliku
Comment[pt]=KAddressbook a executar no modo de importação de ficheiros
Comment[pt_BR]=KAddressBook em execução no modo de importação de arquivos
Comment[ru]=KAddressBook выполняется в режиме импорта файла
Comment[sl]=KAddressBook teče v načinu za uvažanje datotek
Comment[sr]=К‑адресар у режиму увоза фајлова
Comment[sr@ijekavian]=К‑адресар у режиму увоза фајлова
Comment[sr@ijekavianlatin]=K‑adresar u režimu uvoza fajlova
Comment[sr@latin]=K‑adresar u režimu uvoza fajlova
Comment[sv]=Adressboken kör i filimportläge
Comment[tr]=KAddressBook, dosya içe aktarma kipinde çalışıyor
Comment[uk]=KAddressBook запущено у режимі імпортування файлів
Comment[x-test]=xxKAddressBook running in file import modexx
Comment[zh_CN]=KAddressBook 正在运行于文件导入模式
Comment[zh_TW]=KAddressBook 正在於檔案匯入模式執行中
Type=Application
Exec=kaddressbook --import %u
Icon=kaddressbook
MimeType=text/vcard;text/x-ldif;

X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;ContactManagement;
NoDisplay=true
