[Desktop Entry]
Name=KAddressBook View
Name[az]=KAddressBook Görünüşü
Name[ca]=Vista del KAddressBook
Name[ca@valencia]=Vista del KAddressBook
Name[cs]=Pohled na KAddressBook
Name[da]=KAddressBook-visning
Name[de]=KAddressBook-Ansicht
Name[el]=Προβολή του KAddressBook
Name[en_GB]=KAddressBook View
Name[es]=Vista de KAddressBook
Name[et]=KDE aadressiraamatu vaade
Name[eu]=KAddressBook-en ikuspegia
Name[fi]=KAddressBook-näkymä
Name[fr]=Affichage de KAddressBook
Name[hu]=KAddressBook nézet
Name[ia]=Vista de KAddressBook
Name[it]=Vista di KAddressbook
Name[ko]=KAddressBook 보기
Name[nl]=KAddressBook-weergave
Name[pl]=Widok Książki Adresowej
Name[pt]=Área do KAddressBook
Name[pt_BR]=Visualização do KAddressBook
Name[ru]=Просмотр адресной книги
Name[sl]=Pogled KAddressBook
Name[sv]=Adressboksvy
Name[uk]=Перегляд KAddressBook
Name[x-test]=xxKAddressBook Viewxx
Name[zh_CN]=KAddressBook 视图
Comment=Display contact specified by URL
Comment[az]=URL ilə işarələn kontaktları göstərmək
Comment[ca]=Mostra el contacte especificat mitjançant un URL
Comment[ca@valencia]=Mostra el contacte especificat mitjançant un URL
Comment[cs]=Zobrazit kontakt určený URL
Comment[da]=Vis kontakt angivet ved URL
Comment[de]=Zeigt durch URL angegebene Kontakte an
Comment[el]=Εμφάνιση επαφής ορισμένη από URL
Comment[en_GB]=Display contact specified by URL
Comment[es]=Mostrar el contacto indicado por URL
Comment[et]=URL-iga määratud kontskti näitamine
Comment[eu]=URL bidez zehaztutako kontaktua azaltzea
Comment[fi]=Näytä verkko-osoitteen määrittämä yhteystieto
Comment[fr]=Afficher le contact spécifié par l'URL
Comment[hu]=URL-címmel megadott névjegy megjelenítése
Comment[ia]=Monstra contacto specificate per URL
Comment[it]=Mostra il contatto indicato dall'URL
Comment[ko]=URL로 지정한 연락처 표시
Comment[nl]=Contactpersoon gespecificeerd door URL tonen
Comment[pl]=Wyświetl dany kontakt poprzez URL
Comment[pt]=Mostra o contacto indicado pelo URL
Comment[pt_BR]=Exibir o contato especificado pela URL
Comment[ru]=Просмотр контакта, указанного с помощью URL-адреса
Comment[sl]=Stik določen s spletno stranjo
Comment[sv]=Visa kontakt angiven av webbadress
Comment[uk]=Показати контакт, який вказано за допомогою адреси
Comment[x-test]=xxDisplay contact specified by URLxx
Comment[zh_CN]=显示由 URL 指定的联系人
Type=Application
Exec=kaddressbook --view %u
Icon=kaddressbook
Terminal=false
StartupNotify=true
MimeType=text/directory;application/x-vnd.kde.contactgroup
Categories=Qt;KDE;Office;ContactManagement;
NoDisplay=true

X-KDE-Protocols=akonadi
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kaddressbook
