[Desktop Entry]
Name=KAddressBook View
Name[ca]=Vista del KAddressBook
Name[es]=Vista de KAddressBook
Name[et]=KDE aadressiraamatu vaade
Name[fr]=Affichage de KAddressBook
Name[it]=Vista di KAddressbook
Name[nl]=KAddressBook-weergave
Name[pt]=Área do KAddressBook
Name[sv]=Adressboksvy
Name[uk]=Перегляд KAddressBook
Name[x-test]=xxKAddressBook Viewxx
Comment=Display contact specified by URL
Comment[ca]=Mostra el contacte especificat mitjançant un URL
Comment[es]=Mostrar el contacto indicado por URL
Comment[et]=URL-iga määratud kontskti näitamine
Comment[fr]=Afficher le contact spécifié par l'URL
Comment[it]=Mostra il contatto indicato dall'URL
Comment[nl]=Contactpersoon gespecificeerd door URL tonen
Comment[pt]=Mostra o contacto indicado pelo URL
Comment[sv]=Visa kontakt angiven av webbadress
Comment[uk]=Показати контакт, який вказано за допомогою адреси
Comment[x-test]=xxDisplay contact specified by URLxx
Type=Application
Exec=kaddressbook --view %u
Icon=kaddressbook
Terminal=false
StartupNotify=true
MimeType=text/directory;application/x-vnd.kde.contactgroup
Categories=Qt;KDE;Office;ContactManagement;
NoDisplay=true

X-KDE-Protocols=akonadi
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kaddressbook
